<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ManagerDbContext" connectionString="metadata=res://*/ManagerDbModel.csdl|res://*/ManagerDbModel.ssdl|res://*/ManagerDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ИЛЬЯ-ПК;initial catalog=ManagerDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBConnect" connectionString="Data Source=ИЛЬЯ-ПК;Initial Catalog=ManagerDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceModule" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceModule" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ServiceModule" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceModule" contract="ManagerSevice.IServiceModule"
        name="BasicHttpBinding_IServiceModule" />
      <endpoint address="net.tcp://localhost:8090/ServiceModule" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceModule" contract="ManagerSevice.IServiceModule"
        name="NetTcpBinding_IServiceModule">
        <identity>
          <userPrincipalName value="ИЛЬЯ-ПК\Lavrik" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>